@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA;
    --foreground: #27272a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollr {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

@keyframes rotate-r {
  from { 
    transform: rotate(360deg); 
  }
  to { 
    transform: rotate(0deg); 
  }
}

@keyframes pulse-ping {
  from { 
    width: 1px; 
    height: 1px;
    opacity: 100%;
  }
  to { 
    width: 80px; 
    height: 80px;
    opacity: 0%;
  }
}

@keyframes fade-in {
  from { 
    transform: translateY(24px);
    opacity: 0%;
  }
  to { 
    transform: translateY(0);
    opacity: 100%;
  }
}

.fade-in {
  animation: fade-in .4s ease-in-out;
}


.pulse-ping {
  animation: pulse-ping 1.5s ease-in-out infinite;
}

.animate-rotate {
  transform-origin: center;
  animation: rotate 80s linear infinite;
}

.animate-rotate-r {
  transform-origin: center;
  animation: rotate-r 80s linear infinite;
}
  
.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll-r {
  animation: scrollr 40s linear infinite;
}
/* * {
  outline: 1px dotted rgba(255, 0, 0, 0.3);
} */